@charset "utf-8";
/* menu1 */
.menu_bg {
    position: relative;
    width:100%;
    min-width: 1260px;
    height:300px;
    background: url(../images/mainmanu1.png) no-repeat center center;
}


.about {
    position: relative;
    width:1260px;
    margin-top: 100px;
}

.about::after {
    content:"";
    display: block;
    clear: both;
}

.about>p {
    width:600px;
    float: left;
}

.about>div {
    width: 660px;
    float: left;
}

.about>div>h2 {
    color:lightslategray
}

.about>div>p {
    line-height: 1.5em;
    margin-top: 30px;
}


.menu_title {
    margin: 100px auto;
    text-align: center;
    color:lightslategray
}

.map {
    width:1260px;
}

.map::after {
    content:"";
    display: block;
    clear:both;
}

.map>div {
    width : 660px;
    float: left;
    height : 450px;
}

.map>iframe {
    width:600px;
    float: left;
}

.map>div>h3 {
    color:lightslategray;
    margin-bottom: 30px;
}

.map>div>p {
    margin-bottom: 30px;
}